@{
    ViewData["Title"] = "Home Page";
}
<!--
*******************
    SLIDER
    *******************
    -->
<div id="owl-demo" class="owl-carousel">
    <div class="full h-100">
        <div class="total-grad">
            <div class="opa-pink"></div>
        </div>
        <div class="vc-parent">
            <div class="vc-child">
                <div class="top-banner">
                    <div class="container">
                        <div class="heading">Поиск родственников <br>по описанию</div>
                        <h3 class="subheading">
                            Узнай свою родословную<br>
                        </h3>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a href="/registration" class="btn btn-default-green-fill mr-3">Регистрация</a>
                        }
                        else
                        {
                            <a href="/profile" class="btn btn-default-green-fill mr-3">Начать поиск</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="full2 h-100">
        <div class="total-grad">
            <div class="opa-pink"></div>
        </div>
        <div class="vc-parent">
            <div class="vc-child">
                <div class="top-banner">
                    <div class="container">
                        <div class="heading">Поиск по фото<br>в социальных сетях</div>
                        <h3 class="subheading">
                            Найди человека ВКонтакте по фото<br>
                        </h3>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a href="/registration" class="btn btn-default-green-fill mr-3">Регистрация</a>
                        }
                        else
                        {
                            <a href="/profile" class="btn btn-default-green-fill mr-3">Начать поиск</a>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="full3 h-100">
        <div class="total-grad">
            <div class="opa-pink"></div>
        </div>
        <div class="vc-parent">
            <div class="vc-child">
                <div class="top-banner">
                    <div class="container">
                        <div class="heading">Память о героях <br>Великой Отечественной</div>
                        <h3 class="subheading">
                            Интеграция с банком данных «Мемориал»<br>
                        </h3>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <a href="/registration" class="btn btn-default-green-fill mr-3">Регистрация</a>
                        }
                        else
                        {
                            <a href="/profile" class="btn btn-default-green-fill mr-3">Начать поиск</a>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!--
*******************
FEATURES
*******************
-->
<section class="sec-bg1 pb-80">
    <div class="h-services">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="wrap-service">
                        <img src="~/fonts/svg/security.svg" height="65" alt="">
                        <div class="heading animated fadeInUp delay-2s">Быстро</div>
                        <div class="text-info">
                            Наш алгоритм ищет изображения в открытых базах данных и
                            социальных сетях, чтобы быстро получать всю информацию о человеке.
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="wrap-service">
                        <img src="~/fonts/svg/speed.svg" height="65" alt="">
                        <div class="heading">Бесплатно</div>
                        <div class="text-info">
                            Вы можете найти человека по фото бесплатно.
                            Мы не потребуем денег за использование сервиса.
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 clear-md">
                    <div class="wrap-service">
                        <img src="~/fonts/svg/upgrade.svg" height="65" alt="">
                        <div class="heading">Бесплатно</div>
                        <div class="text-info">
                            Вы можете найти человека по фото бесплатно.
                            Мы не потребуем денег за использование сервиса.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--
*******************
TESTIMONIALS
*******************
-->
<section class="sec-normal sec-bg1">
    <div class="testimonials">

        <div class="wrapper">
            <div class="testimonial">
                <h3 class="heading">Более 100 000 пользователей</h3>
                <div class="subheading">нашли своих близких</div>
                <div class="text">
                    При помощи сервиса «Твоя династия» вы можете построить генеалогическое древо бесплатно и <br>найти людей по фото.
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="group-wrap">
                        <div class="clients-slider">
                            <div class="slider-container slider-filter">
                                <div class="slider-wrap">
                                    <div class="swiper-container main-slider testimonials-slider swiper-0-slider initialized" data-autoplay="0" data-touch="0" data-mouse="0" data-slides-per-view="responsive" data-loop="1" data-speed="1200" data-mode="horizontal" data-xs-slides="5" data-sm-slides="5" data-md-slides="5" data-lg-slides="5" data-center="1" id="0-slider">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide img-person default-active swiper-slide-visible">
                                                <img src="~/img/avatars/avatar1.png" alt="photo" class="img-responsive">
                                            </div>
                                            <div class="swiper-slide img-person swiper-slide-visible swiper-slide-active">
                                                <img src="~/img/avatars/avatar2.png" alt="photo" class="img-responsive">
                                            </div>
                                            <div class="swiper-slide img-person swiper-slide-visible">
                                                <img src="~/img/avatars/avatar3.png" alt="photo" class="img-responsive">
                                            </div>
                                            <div class="swiper-slide img-person swiper-slide-visible">
                                                <img src="~/img/avatars/avatar4.png" alt="photo" class="img-responsive">
                                            </div>
                                            <div class="swiper-slide img-person swiper-slide-visible">
                                                <img src="~/img/avatars/avatar5.png" alt="photo" class="img-responsive">
                                            </div>
                                            <div class="swiper-slide img-person swiper-slide-visible">
                                                <img src="~/img/avatars/avatar6.png" alt="photo" class="img-responsive">
                                            </div>
                                            <div class="swiper-slide img-person swiper-slide-visible">
                                                <img src="~/img/avatars/avatar7.png" alt="photo" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="pagination hidden horizontal-mode pagination-index pagination-0-slider"><span class="swiper-pagination-switch swiper-visible-switch"></span><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch swiper-visible-switch"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!--
 *******************
 TEXTBLOCK
 *******************
 -->
<div class="overview sec-normal sec-bg1">
    <div class="container">
        <h3 class="testimonials wrapper heading">На нашем портале вы найдете:</h3>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="img-over sec-grad-grey-to-grey">
                    <img src="~/img/custom/main-img1.png" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="overview-info">
                    <h2 class="section-heading">Распознавание по фото</h2>
                    <p class="overview-txt">Face Recognition API позволяет находить человека по фото и восстанавливать потерянные контакты с помощью социальных сетей ВКонтакте и Одноклассники.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="img-over sec-grad-grey-to-grey">
                    <img src="~/img/custom/main-img2.png" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="overview-info">
                    <h2 class="section-heading">Поиск по архивам</h2>
                    <p class="overview-txt">Поиск данных о человеке в открытых базах данных позволяет узнать о судьбе родственников.</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="img-over sec-grad-grey-to-grey">
                    <img src="~/img/custom/main-img3.png" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="overview-info">
                    <h2 class="section-heading">Интерактивное генеалогическое древо</h2>
                    <p class="overview-txt">Создайте своё генеалогическое древо, ищите дальних родственников и сохраняйте память о предыдущих поколениях.</p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="img-over sec-grad-grey-to-grey">
                    <img src="~/img/custom/main-img4.png" alt="">
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="overview-info">
                    <h2 class="section-heading">Улучшение фото</h2>
                    <p class="overview-txt">Увеличьте изображение без потери качества или раскрасьте черно-белое фото онлайн.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!--
    *******************
    PRICING TABLES
    *******************
    -->
<section class="sec-normal">
    <div class="best-plans pricing classic">
        <div class="container">
            <h3 class="testimonials wrapper">Поддержите проект и получите бонусы:</h3>
            <div class="sec-main sec-bg1">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive-lg">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="title">Бесплатный доступ</div>
                                            <div class="price">0<span class="period"> ₽/месяц</span></div>
                                        </td>
                                        <td>
                                            <div class="titleprem">Премиум-подписка</div>
                                            <div class="price">149<span class="period"> ₽/месяц</span></div>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ищите информацию о родственниках в открытых банках данных">
                                                Запросы к архивам
                                            </div>
                                        </td>
                                        <td>Без ограничений</td>
                                        <td>Без ограничений</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Создайте генеалогическое древо вашей семьи и делитесь ей с другими пользователями">
                                                Генеалогическое древо
                                            </div>
                                        </td>
                                        <td>4 поколения</td>
                                        <td>Без ограничений</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Ищите людей в Одноклассниках или ВКонтакте по фото">
                                                Поиск по фото
                                            </div>
                                        </td>
                                        <td>3 запроса в сутки</td>
                                        <td>Без ограничений</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Улучшайте качество фотографий и насыщайте их цветом">
                                                Фоторедактор
                                            </div>
                                        </td>
                                        <td>2 запроса в сутки</td>
                                        <td>Без ограничений</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Получайте уведомления о найденных родственниках и новостях проекта">
                                                Уведомления на почту
                                            </div>
                                        </td>
                                        <td><i class="fas fa-check"></i></td>
                                        <td><i class="fas fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Сократите время ожидания при создании запросов">
                                                Выполнение запросов без очереди
                                            </div>
                                        </td>
                                        <td><i class="fas fa-times"></i></td>
                                        <td><i class="fas fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div id="element" class="title-table" data-toggle="tooltip" data-placement="top" title="" data-original-title="Пользуйтесь сайтом с комфортом без рекламы">
                                                Отключение рекламных баннеров
                                            </div>
                                        </td>
                                        <td><i class="fas fa-times"></i></td>
                                        <td><i class="fas fa-check"></i></td>
                                    </tr>
                                    <tr>
                                        <td class="border-0"></td>
                                        <td><a href="/profile" class="btn btn-default-green-fill">Начать бесплатно</a></td>
                                        <td><a href="/profile" class="btn btn-default-green-fill">Оплатить</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--
*******************
GET READY
*******************
-->
<section class="getready sec-grad-blue-to-purple">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="column-support-txt">
                    <div class="column-support-title">Хотите найти человека?</div>
                    <div class="column-support-subtitle">Попробуйте наш сервис абсолютно бесплатно!</div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="btn-floats">
                    <a href="/profile" class="btn btn-default-green-fill mt-2 mr-3">Начать</a>
                </div>
            </div>
        </div>
    </div>
</section>
