@model YourDynastySite.Models.PersonsViewModel
@{
    Layout = null;
}

<div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="wrap-blog">           
              <div class="row">
                <div class="col-md-12 col-lg-12 mb-80">
                    <div class="heading comment">Мы нашли @(Model.Persons?.Count ?? 0) подходящих людей:</div>
                    <div class="line"></div>
                        <div id="persons-container">
                         @await Html.PartialAsync("~/Views/Search/MemorialPagerList.cshtml", Model)
                        </div>                     
					<input id="pager" class="btn btn-default-green-fill" value="Загрузить еще"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>